<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive Gas &amp; Oil Industry HTML Template">
    <meta name="author" content="Surjith S.M">

    <!-- Page Title -->
    <title> SreeLakshmi Energy Systems</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/sreeLakshmi logo.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">

    <!-- Flex Slider -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;700;900&family=Poppins:wght@100;300;400;600;700&family=Rubik:wght@300;500;700;900&display=swap"
        rel="stylesheet">

</head>

<body class="services">

    <!-- Page Wrapper
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="wrapper">
        <!-- Header Section -->
        <header>
            <div class="header-area">

                <!-- Top Contact Info -->
                <div class="row logo-top-info" style="padding: 0px;">
                    <div class="container">
                        <div class="col-md-3 col-sm-4  logo">
                            <!-- Main Logo -->
                            <a href="index.html"><img src="assets/Sreelakshmi Energy Systems Pvt-logo-black-croped..png"
                                    alt="Offshore Logo" /></a>
                            <!-- Responsive Toggle Menu -->
                        </div>

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only"> Main Menu </span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                        <div class="col-md-9 top-info-social">
                        <img src="assets/MSME LOGO.gif" style="width: 8rem;" alt="">
                        <img class="isologo" style="width: 6rem;border-radius:10px;" src="assets/ISO NEW.png" alt="">    
                            <div class="pull-right">
                                <div class="top-info">
                                    <div class="call">
                                        <h3> CALL US </h3>
                                        <p>0484 2989297 </p>
                                        <p>+91 9562418266</p>
                                    </div>
                                    <div class="email">
                                        <h3> EMAIL US </h3>
                                        <p> marketing@sreelakshmi.info </p>
                                    </div>
                                    <!-- <div class="market">
                                        <h3> MARKET </h3>
                                        <p> 256.78 <span class="forex"> <i class="fa fa-caret-up" aria-hidden="true"></i> + 4.26 </span> </p>
                                    </div> -->
                                </div>
                                <div class="social">
                                    <ul class="social-icons">
                                        <li><a href="https://www.facebook.com/sreelakshmienergysystems"><i
                                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/SreelakshmiLtd"><i class="fa fa-twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/sreelakshmienergysystems"><i
                                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a
                                                href=" https://www.linkedin.com/in/sreelakshmi-energy-systems-pvt-ltd-5632ba216"><i
                                                    class="fa-brands fa-linkedin"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCOn6p2pUCWgUfKnEbVG4bmQ"><i
                                                    class="fa-brands fa-youtube"></i></a></li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                         
                    </div>
                </div>

                <!-- Main Navigation Section -->
                <nav id="navbar" class="collapse navbar-collapse main-menu">
                    <div class="container">
                        <ul class="main-menu">
                            <li> <a href="index.html"> Home </a></li>
                            <li> <a href="about-1.html"> About</a></li>

                            <li class="dropdown"> <a href="#" data-toggle="dropdown"> Solutions
                                    <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                <ul>
                                    <li> <a href="services-1.html">⦁ FUEL CONVERSION </a> </li>
                                    <li> <a href="services-2.html"> ⦁ COMMERCIAL GAS PIPELINE INSTALLATION
                                        </a> </li>
                                    <li> <a href="services-3.html"> ⦁ RETICULATED GAS SYSTEM
                                        </a> </li>
                                    <li> <a href="services-4.html"> ⦁ GAS LEAKAGE DETECTING SYSTEM AND MONITORING</a>
                                    </li>
                                    <li> <a href="services-5.html"> ⦁ PIPED NATURAL GAS INSTALLATION </a> </li>
                                    <li> <a href="services-6.html">⦁ AMC AND MAINTENANCE
                                        </a> </li>
                                    <!--  <li> <a href="services-7.html">⦁ SUNTEC AND REILLO BURNERS
                                        </a> </li> 
                                    <li> <a href="services-8.html">⦁ LOT SKID SYSTEM
                                        </a> </li> -->
                                </ul>
                            </li>

                            <li class="dropdown"> <a href="#" data-toggle="dropdown">PRODUCTS
                                <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                <ul>
                                    <li> <a href="product-1.html">All Products </a> </li>
                                    <li> <a href="product-2.html">Commercial Burners And Fittings </a> </li>
                                    <li> <a href="product-3.html"> Copper Tube </a> </li>
                                    <li> <a href="product-4.html">Detection System</a> </li>
                                    <li> <a href="product-5.html">Flow Meters</a> </li>
                                    <li> <a href="product-6.html">Copper tube and Pigtails</a> </li>
                                    <li> <a href="product-7.html">Regulators</a> </li>
                                    <li> <a href="product-8.html">Heat Pump and Burners</a> </li>
                                    <li> <a href="product-9.html">Compact system</a> </li>
                                   <!-- <li> <a href="product-10.html">Dryers</a> </li> -->
                                </ul>
                            </li>

                            <li class="active"><a href="#"> Gallery </a> </li>
                            <li class="dropdown"> <a href="#" data-toggle="dropdown"> Clients
                                    <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                    <ul>
                                        <li> <a href="clients1.html">5 Star Hotels</a> </li>
                                        <li> <a href="clients2.html"> Industrial Customers </a> </li>
                                        <li> <a href="clients3.html"> Restaurants & Industrial Canteens </a> </li>
                                        <li> <a href="clients4.html"> Reticulated Installations</a> </li>
                                        <li> <a href="clients5.html"> Shopping Malls </a> </li>
                                        <li> <a href="clients6.html"> Other Hotels & Projects </a> </li>
    
                                    </ul>
                            </li>
                            <li> <a href="download.html"> Downloads </a>
                            <li> <a href="careers.html"> Careers </a>                                        
                            <li><a href="contact-1.html"> CONTACT US</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Header Section -->

        

