<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content=" SreeLakshmi Energy Systems">
    <meta name="author" content="Asif saheer K">

    <!-- Page Title -->
    <title> SreeLakshmi Energy Systems</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/sreeLakshmi logo.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">

    <!-- Flex Slider -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;700;900&family=Poppins:wght@100;300;400;600;700&family=Rubik:wght@300;500;700;900&display=swap"
        rel="stylesheet">

    <!-- <script>


        window.addEventListener('scroll', () => {
            let item = document.querySelector(".director-animation")
            let ceo = document.querySelector(".ceo")
            let logo = document.querySelector(".logo-animationclass")
            let about = document.querySelector(".animation-about")
            let observer = new IntersectionObserver((enteres) => {

                const entry = enteres[0]

                if (entry.isIntersecting) {
                    document.querySelector(".ceo-details").classList.add("ceo-animation")

                } else {
                    document.querySelector(".ceo-details").classList.remove("ceo-animation")

                }

            })
            observer.observe(item)
            let observer2 = new IntersectionObserver((enteres) => {

                const entry2 = enteres[0]
                if (entry2.isIntersecting) {
                    document.querySelector(".ceo").classList.add("animation-ceo")

                } else {
                    document.querySelector(".ceo").classList.remove("animation-ceo")

                }


            })
            observer2.observe(ceo)

            let observer3 = new IntersectionObserver((enteres) => {
                const entry3 = enteres[0]
                if (entry3.isIntersecting) {
                    document.querySelector(".animation-logo").classList.add("new-animation-logo")

                } else {

                    document.querySelector(".animation-logo").classList.remove("new-animation-logo")
                }


            })
            observer3.observe(logo)
            let observer4 = new IntersectionObserver((enteres) => {
                const entry4 = enteres[0]
                if (entry4.isIntersecting) {

                    document.querySelector(".company-details").classList.add("about-animation")
                } else {

                    document.querySelector(".company-details").classList.remove("about-animation")

                }

            })
            observer4.observe(about)

        })


    </script> -->
    <style>
        /* .ceo-details {
            transform: translateX(100px);
            opacity: 0;
            transition: all 0.8s ease-in-out;

        }

        .ceo-animation {
            transform: translateX(0px);
            opacity: 1;

        }

        .ceo {
            transform: translateX(-100px);
            opacity: 0;
            transition: all 0.8s ease-in-out;

        }



        .animation-ceo {
            transform: translateX(0px);
            opacity: 1;

        }

        .company-details {
            transform: translateX(100px);
            opacity: 0;
            transition: all 0.8s ease-in-out;
        }


        .about-animation {
            transform: translateX(0px);
            opacity: 1;

        }

        .animation-logo {
            perspective: 1000px;
            transform-style: preserve-3d;
            transform-origin: center;
            transition: all 1s ease-in-out;


        }

        .new-animation-logo {
            transform: rotateY(360deg);
        } */



        .solutionCard {
            display: flex;
            height: 12rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .solutionCardInner {
            display: flex;
            align-items: center;
            width: 90%;
            height: 90%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            border-radius: 10px;
            transition: all 0.3s ease-out;

        }

        .solutionCard a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .solutionCardInner h3 {
            text-align: center;
            color: white;
            transition: 0.3s all ease-in-out;
        }

        .solutionCardInner:hover {
            background-color: #1647b8;
            opacity: 0.7;
        }

        .solutionCardInner:hover h3 {
            transform: scale(1.1);
        }

        .solutionSection {
            background: rgb(43, 61, 154);
            background: linear-gradient(90deg, rgba(43, 61, 154, 1) 34%, rgba(249, 103, 55, 1) 100%);
        }
        .rellioTable{
            border-spacing: 5px;
            border-collapse: separate;
            width: 100%;
            height: 23rem;
        }
        .rellioTable th,td{
            padding: 10px;
            margin: 2px;
            border-collapse: collapse;
            text-align: center;
            

        }
        .rellioTable th{
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
        }
        .rellioTable td{
            background-color: rgba(0, 0, 0, 0.2);
            color: white;
        }
        ul li{
            color: black;
        }
    </style>

</head>

<body class="homepage" style="width: 100%;overflow-x: hidden;">

    <!-- Preloader 
    <div class="loader-wrapper">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div> -->

    <!-- Page Wrapper -->
    <div class="wrapper">

        <!-- Header Section -->
        <header>
            <div class="header-area">

                <!-- Top Contact Info -->
                <div class="row logo-top-info" style="padding: 0px;">
                    <div class="container">
                        <div class="col-md-3 col-sm-4  logo">
                            <!-- Main Logo -->
                            <a href="index.html"><img src="assets/Sreelakshmi Energy Systems Pvt-logo-black-croped..png"
                                    alt="Offshore Logo" /></a>
                            <!-- Responsive Toggle Menu -->
                        </div>

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only"> Main Menu </span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                        <div class="col-md-9 top-info-social">
                        <img src="assets/MSME LOGO.gif" style="width: 8rem;" alt="">
                        <img class="isologo" style="width: 6rem;border-radius:10px;" src="assets/ISO NEW.png" alt="">    
                            <div class="pull-right">
                                <div class="top-info">
                                    <div class="call">
                                        <h3> CALL US </h3>
                                        <p>0484 2989297 </p>
                                        <p>+91 9562418266</p>
                                    </div>
                                    <div class="email">
                                        <h3> EMAIL US </h3>
                                        <p> marketing@sreelakshmi.info </p>
                                    </div>
                                    <!-- <div class="market">
                                        <h3> MARKET </h3>
                                        <p> 256.78 <span class="forex"> <i class="fa fa-caret-up" aria-hidden="true"></i> + 4.26 </span> </p>
                                    </div> -->
                                </div>
                                <div class="social">
                                    <ul class="social-icons">
                                        <li><a href="https://www.facebook.com/sreelakshmienergysystems"><i
                                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/SreelakshmiLtd"><i class="fa fa-twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/sreelakshmienergysystems"><i
                                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a
                                                href=" https://www.linkedin.com/in/sreelakshmi-energy-systems-pvt-ltd-5632ba216"><i
                                                    class="fa-brands fa-linkedin"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCOn6p2pUCWgUfKnEbVG4bmQ"><i
                                                    class="fa-brands fa-youtube"></i></a></li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- Main Navigation Section -->
                <nav id="navbar" class="collapse navbar-collapse main-menu">
                    <div class="container">
                        <ul class="main-menu">
                            <li> <a href="index.html"> Home </a></li>
                            <li> <a href="about-1.html"> About</a></li>

                            <li class="dropdown"> <a href="#" data-toggle="dropdown"> Solutions
                                    <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                <ul>
                                    <li> <a href="services-1.html">⦁ FUEL CONVERSION </a> </li>
                                    <li> <a href="services-2.html"> ⦁ COMMERCIAL GAS PIPELINE INSTALLATION
                                        </a> </li>
                                    <li> <a href="services-3.html"> ⦁ RETICULATED GAS SYSTEM
                                        </a> </li>
                                    <li> <a href="services-4.html"> ⦁ GAS LEAKAGE DETECTING SYSTEM AND MONITORING</a>
                                    </li>
                                    <li> <a href="services-5.html"> ⦁ PIPED NATURAL GAS INSTALLATION </a> </li>
                                    <li> <a href="services-6.html">⦁ AMC AND MAINTENANCE
                                        </a> </li>
                                    <!--  <li> <a href="services-7.html">⦁ SUNTEC AND REILLO BURNERS
                                        </a> </li> 
                                    <li> <a href="services-8.html">⦁ LOT SKID SYSTEM
                                        </a> </li> -->
                                </ul>
                            </li>

                            <li class="dropdown active"> <a href="#" data-toggle="dropdown">PRODUCTS
                                <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                <ul>
                                    <li> <a href="product-1.html">All Products </a> </li>
                                    <li> <a href="product-2.html">Commercial Burners And Fittings </a> </li>
                                    <li> <a href="product-3.html"> Copper Tube </a> </li>
                                    <li> <a href="product-4.html">Detection System</a> </li>
                                    <li> <a href="product-5.html">Flow Meters</a> </li>
                                    <li> <a href="product-6.html">Copper tube and Pigtails</a> </li>
                                    <li> <a href="product-7.html">Regulators</a> </li>
                                    <li> <a href="#">Heat Pump and Burners</a> </li>
                                    <li> <a href="product-9.html">Compact system</a> </li>
                                   <!-- <li> <a href="product-10.html">Dryers</a> </li> -->
                                </ul>
                            </li>

                            <li><a href="gallery.html"> Gallery </a> </li>
                            <li class="dropdown"> <a href="#" data-toggle="dropdown"> Clients
                                    <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                    <ul>
                                        <li> <a href="clients1.html">5 Star Hotels</a> </li>
                                        <li> <a href="clients2.html"> Industrial Customers </a> </li>
                                        <li> <a href="clients3.html"> Restaurants & Industrial Canteens </a> </li>
                                        <li> <a href="clients4.html"> Reticulated Installations</a> </li>
                                        <li> <a href="clients5.html"> Shopping Malls </a> </li>
                                        <li> <a href="clients6.html"> Other Hotels & Projects </a> </li>
    
                                    </ul>
                            </li>
                            <li> <a href="download.html"> Downloads </a>
                            <li> <a href="careers.html"> Careers </a>                                        
                            <li><a href="contact-1.html"> CONTACT US</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Header Section -->

        <!-- Main Content Section -->

        <main class="main">

            <div class="page-title text-center">
                <h2 class="title"> </h2>

            </div>
            <!-- Page Title -->

            <!-- Breadcrumbs -->
            <div class="breadcrumbs">
                <div class="container">
                    <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
                    <i class="fa fa-chevron-right"></i>
                    <span class="child"> Products </span>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;">Riello 40 Series</h3>
                    </div>
                    <div class="col-md-12">
                        <p style="text-align: justify;">Riello 40 Series SingIe stage burner are a complete range of products developed to respond any request for Baking industry. All Burners use same basic components designed by Riello ensures high quality level guarantees safe working. burner models are proven for long trouble free operation with Baking ovens. Versions available with Gas & Light OiI.</p>

                    </div>
                    
                    <div class="col-md-4 col-sm-6" style="display: flex;align-items: center;justify-content: center;flex-direction: column;margin-top: 2rem;">
                        <h4>Gas Burner</h4>
                        <table class="rellioTable">
                            <tr>
                                <th>Model</th>
                                <th>Output</th>
                            </tr>
                            <tr>
                                <td>FS 5</td>
                                <td>23 - 58 KW</td>
                            </tr>
                            <tr>
                                <td>FS 10</td>
                                <td>42 - 116 KW</td>
                            </tr>
                            <tr>
                                <td>FS 20</td>
                                <td>81 - 220 KW</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-6 " style="display: flex;align-items: center;justify-content: center;flex-direction: column;margin-top: 2rem;">
                        <h4>Light Oil Burner</h4>
                        <table class="rellioTable">
                            <tr>
                                <th>Model</th>
                                <th>Output</th>
                            </tr>
                            <tr>
                                <td>G 5</td>
                                <td>28 - 60 KW</td>
                            </tr>
                            <tr>
                                <td>G 10</td>
                                <td>54 - 120 KW</td>
                            </tr>
                            <tr>
                                <td>G 20</td>
                                <td>95 - 213 KW</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-3 col-sm-0"></div>
                    <div class="col-md-4 col-xs-6" style="margin-top: 2rem;">
                        <a style="width:100%" class="project-expand prettyPhoto"
                                    data-rel="prettyPhoto" href="images/Solutions/suntec/webp/Bakery Oven Burners_11zon.webp"> <img src="images/Solutions/suntec/webp/Bakery Oven Burners_11zon.webp"
                                        style="width:100%" alt="Car"></a>
                      
                    </div>
                    <div class="col-xs-3 col-sm-0"></div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;">RS-RL Series</h3>
                    </div>
                    <div class="col-md-12">
                        <p style="text-align: justify;">These Burners are designed with aim to offer Simple products with high reliability, easy commissioning & excellent working. All models available in Gas & Light oil version. Burner operation modes are Two stage, Progressive two stage or modulating as per requirement. Special models available with Electronic cam compound. Low NOx models available on request.</p>

                    </div>
                    
                    <div class="col-md-4 col-sm-6" style="display: flex;align-items: center;justify-content: center;flex-direction: column;margin-top: 2rem;">
                        <h4>Gas Burner</h4>
                        <table class="rellioTable">
                            <tr>
                                <th>Model</th>
                                <th>Output</th>
                            </tr>
                            <tr>
                                <td>Rs 25/M BLU</td>
                                <td>45/125-370 KW</td>
                            </tr>
                            <tr>
                                <td>Rs 35/M BLU</td>
                                <td>72/202-480 KW</td>
                            </tr>
                            <tr>
                                <td>Rs 45/M BLU</td>
                                <td>90/190-550 KW</td>
                            </tr>
                            <tr>
                                <td>Rs 55/M BLU</td>
                                <td>100/300-680 KW</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-6 " style="display: flex;align-items: center;justify-content: center;flex-direction: column;margin-top: 2rem;">
                        <h4>Light Oil Burner</h4>
                        <table class="rellioTable">
                            <tr>
                                <th>Model</th>
                                <th>Output</th>
                            </tr>
                            <tr>
                                <td>RL 34</td>
                                <td>97/154-395 KW</td>
                            </tr>
                            <tr>
                                <td>RL 44</td>
                                <td>155/235-485 KW</td>
                            </tr>
                            <tr>
                                <td>RL 50</td>
                                <td>148/296-593 KW</td>
                            </tr>
                            <tr>
                                <td>RL 70</td>
                                <td>255/474-830 KW</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-3 col-sm-0"></div>
                    <div class="col-md-4 col-xs-6" style="margin-top: 2rem;">
                        <a style="width:100%" class="project-expand prettyPhoto"
                                    data-rel="prettyPhoto" href="images/Solutions/suntec/webp/RS-RL Series_11zon.webp"> <img src="images/Solutions/suntec/webp/RS-RL Series_11zon.webp"
                                        style="width:100%" alt="Car"></a>
                       
                    </div>
                    <div class="col-xs-3 col-sm-0"></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;">BPR SERIES- High Modulating ratio</h3>
                    </div>
                    <div class="col-md-12">
                        <p style="text-align: justify;">These Burners are developed to treat application where precise temperature requirement & well suited in conveyorized biscuit oven. Burner operation is modulating with wide range of working & turn down ratio up to 1:40. Burner configuration in such a manner so installation & maintenance is easy. User defined burner orientation as per requirement. All models are suitable for Natural Gas, LPG & other Low calorific value gas. Special version available for combustion air up to 250 'C.</p>

                    </div>
                    
                    <div class="col-md-4 col-sm-6" style="display: flex;align-items: center;justify-content: center;flex-direction: column;margin-top: 2rem;">
                        <table class="rellioTable">
                            <tr>
                                <th>Model</th>
                                <th>Output</th>
                            </tr>
                            <tr>
                                <td>BP R 75</td>
                                <td>5-87 KW</td>
                            </tr>
                            <tr>
                                <td>BP R 150</td>
                                <td>6-180 KW</td>
                            </tr>
                            <tr>
                                <td>BP R 200</td>
                                <td>6-235 KW</td>
                            </tr>
                            <tr>
                                <td>BP R 300</td>
                                <td>9-360 KW</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-6 " style="display: flex;align-items: center;justify-content: center;flex-direction: column;margin-top: 2rem;">
                        <table class="rellioTable">
                            <tr>
                                <th>Model</th>
                                <th>Output</th>
                            </tr>
                            <tr>
                                <td>BP R 450</td>
                                <td>18-525 KW</td>
                            </tr>
                            <tr>
                                <td>BP R 600</td>
                                <td>28-700 KW</td>
                            </tr>
                            <tr>
                                <td>BP R 800</td>
                                <td>35-930 KW</td>
                            </tr>
                            <tr>
                                <td>BP R 1200</td>
                                <td>35-1450 KW</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-3 col-sm-0"></div>
                    <div class="col-md-4 col-xs-6" style="margin-top: 2rem;">
                        <a style="width:100%" class="project-expand prettyPhoto"
                                    data-rel="prettyPhoto" href="images/Solutions/suntec/webp/BPR SERIES- High Modulating ratio_11zon.webp"> <img src="images/Solutions/suntec/webp/BPR SERIES- High Modulating ratio_11zon.webp"
                                        style="width:100%" alt="Car"></a>
                        
                    </div>
                    <div class="col-xs-3 col-sm-0"></div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: justify;margin-top: 1rem;">RIELLO BURNERS - Incorporated in 1920, Most pioneering & largest Burner manufacturer in the world producing over 500000 burners per annum</p>
                        <p style="text-align: justify;margin-top: 1rem;">We, SUNTEC ENERGY SYSTEMS, are an exclusive Distributor for Riello Burner in India & surrounding countries. Company has over 30 years experience of European pressure jet Burners for distribution. Installation & maintenance. We have over 70000 successful burner installation across India & surrounding countries. we have nationwide sales & service network covering all major cities. We have project management capabilities & competencies in Application Engineering. Design & Troubleshooting.</p>
                        <p style="text-align: justify;margin-top: 1rem;">Sreelakshmi Energy Systems Pvt. Ltd. an ISO 9001:2015 certified & MSME registered company established in the year 2006 engaged in the business as Consultant Engineers & Contractors for LPG /PNG Fuel Piping Installations, Gas Monitoring / Detection System, Industrial Burners & Heat Pumps.</p>
                        <p style="text-align: justify;margin-top: 1rem;">Burner suit to every need of heating like - Steam Boiler , Thermal Oil Heaters, Hot Water Generator, Hot Air Generator, Textile, Stenter, Bakery Ovens, High Temperature Furnaces, Kilns, Automobile Dryers & Heaters and many more.</p>
                        <p style="text-align: justify;margin-top: 1rem;">Over & above, We have developed specific Burners for typical Indian application & fuel quality</p>

                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-decoration: underline;">Features</h3>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <ul style="list-style: square;">
                            <li>Capacity range 10 KW to 80 MW</li>
                            <li>Oil / Gas / Dual fuel Burners </li>
                            <li>Mono block/ Dual block construction</li>
                            <li>Mechanical / Electronic Cam version</li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <ul style="list-style: square;">
                            <li>Easy to operate & maintain</li>
                            <li>rouble free operation for long time</li>
                            <li>Reduced NOx Technology </li>
                            <li>U regulation & VFD for blower</li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <ul style="list-style: square;">
                            <li>Burners available for preheated combustion air (up to 250 C ) to improve efficiency up to 8% </li>
                            <li>Ultra low NOx FGR (Flue Gas Recirculating) Burners</li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <ul style="list-style: square;">
                            <li>Special temperature, High modulating ratio, Air duct business </li>
                            <li>Special Burner for Biofuel and low caloric value gases</li>
                        </ul>
                    </div>
                </div>



            </div>


        </main>
       

    <!-- Footer Section -->
    <footer>
        <div class="footer">
            <div class="container">
                <!-- Prefooter Section -->
                <div class="row pre-footer">
                    <div class="col-md-4">
                        <div class="contact-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="contact-details">
                                <h4 class="pre-footer-title">HEAD OFFICE</h4>
                                <p>37/ 628, Ponevazhi Road,
                                    <br> Edappally P.O, Kochi - 24, Kerala, India<br>
                                    PH:0484 2989297<br>
                                    MOB:+91 9562418266<br>
                                    marketing@sreelakshmi.info
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="contact-details">
                                <h4 class="pre-footer-title">ZONAL OFFICE</h4>
                                <p>14/10, Welcome Colony,
                                    <br> Anna Nagar Western Extn.Chennai - 600 101 <br>
                                    Mob:+91 7338881185, Ph: 044 43574824 <br>
                                    sleschennai@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="contact-details">
                                <h4 class="pre-footer-title">PROJECT OFFICE </h4>
                                <p>Kerala, Tamil Nadu,
                                    Lucknow & Bangalore,
                                    <br> Mob: 9562418266, Ph: 0484 2989297
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="contact-details">
                                <h4 class="pre-footer-title">PIPED NATURAL GAS DIVISION</h4>
                                <p>PH: 0484 2989297</p>
                                <p>MB:+91 9072634770,+91 9072650010,
                                    <br>pngprojects@sreelakshmi.info
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="contact-details">
                                <h4 class="pre-footer-title">BURNER & HEAT PUMP SALES</h4>

                                <p>+91 6238811826,9562418266
                                    <br>retailsales@sreelakshmi.info
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="contact-details">
                                <h4 class="pre-footer-title"> RETAIL SALES</h4>
                                <p> PH:0484 2989297</p>
                                <p>MOB:+91 9072600199,
                                    +91 8943339525
                                    <br>  retailsales@sreelakshmi.info
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Prefooter Section -->

                <!-- Footer widgets -->
                <div class="row widgets">
                    <div class="col-md-4 col-sm-6">
                        <div class="about-txt widget" style="text-align: center;">
                            <a href="index.html"><img
                                    src="assets/Sreelakshmi Energy Systems Pvt. Ltd-logo-white-croped..png"
                                    alt="Offshore Logo" style="margin-bottom: -10px;" /></a> <br>
                            <img style="width: 9rem;background-color: white;border-radius: 10px;padding: 7px 10px ; margin-right: 10px;"
                                src="assets/ISO NEW.png" alt="">
                            <img style="width: 14rem;" src="assets/MSME-Logo-PNG-Black-and-White33.png" alt="">

                            <div class="widgets-social">


                                <a href="https://www.facebook.com/sreelakshmienergysystems"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                                <a href="https://twitter.com/SreelakshmiLtd"><i class="fa fa-twitter"
                                        aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com/sreelakshmienergysystems"><i class="fa fa-instagram"
                                        aria-hidden="true"></i></a>
                                <a href=" https://www.linkedin.com/in/sreelakshmi-energy-systems-pvt-ltd-5632ba216"><i
                                        class="fa-brands fa-linkedin"></i></a>
                                <a href="https://www.youtube.com/channel/UCOn6p2pUCWgUfKnEbVG4bmQ"><i
                                        class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="quick-links widget" style="text-align: center;">
                            <h2 class="widget-title">QUICK LINKS</h2>
                            <ul>
                                <li> <a href="index.html">Home </a> </li>
                                <li> <a href="about-1.html"> About Us </a> </li>
                                <li> <a href="product-1.html">Products</a> </li>
                                <li> <a href="gallery.html"> Gallery </a> </li>
                                <li> <a href="clients1.html"> Clients </a> </li>
                                <li> <a href="download.html"> Downloads </a> </li>
                                <li> <a href="careers.html"> Careers</a> </li>
                                <li> <a href="contact-1.html"> Contact US </a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="spacer-50 visible-sm"></div>

                    <div class="col-md-4 col-sm-6">
                        <div class="our-services widget" style="hyphens: auto;">
                            <h2 class="widget-title">OUR SERVICES</h2>
                            <ul>
                                <li> <a href="services-1.html"> FUEL CONVERSION </a> </li>
                                <li> <a href="services-2.html"> COMMERCIAL GAS PIPELINE INSTALLATION </a> </li>
                                <li> <a href="services-3.html">RETICULATED GAS SYSTEM </a> </li>
                                <li> <a href="services-4.html"> GAS LEAKAGE DETECTING SYSTEM AND MONITORING </a>
                                </li>
                                <li> <a href="services-5.html"> PIPED NATURAL GAS INSTALLATION (RESIDENTIAL,
                                        COMMERCIAL AND INDUSTRIAL) </a> </li>
                                <li> <a href="services-6.html">AMC AND MAINTENANCE </a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-sm-6">
                        <div class="newsletter widget">
                            <h2 class="widget-title">Newsletter</h2>
                            <p>Subscribe to our newsletters to receive latest news and updates.</p>
                      

                            <form action="php/subscribe.php" id="subscribeform" method="post">
                                <div class="form-group">
                                    <input type="email" id="email" name="email" placeholder="Enter your email"
                                        class="form-control" title="Please enter your email"
                                        data-msg-email="Please enter a valid email">
                                </div>
                                <button type="submit" class="btn btn-block" id="js-subscribe-btn"> Subscribe Now!
                                </button>

                                <div id="js-subscribe-result" data-success-msg="Done. Subscribed"
                                    data-error-msg="Oops. Error!"></div>
                            </form>
                        </div>
                    </div> -->
                </div>
                <!-- Footer widgets -->
            </div>
        </div>
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row copyright-bar">
                    <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;">
                        <p>Copyright © 2023 sreelakshmienergysystems . All rights reserved. | Designed By <a href="https://www.tapclone.co.in/">Tapclone</a></p>
                    </div>
                    <!-- <div class="col-md-6 text-right">
                        <p> <a href="#"> Terms of use</a> <a href="#">Privacy Policy</a> <span> | </span> Made with
                            <i class="fa fa-heart" aria-hidden="true"></i> by Surjith S M
                        </p>

                    </div> -->
                </div>
            </div>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer Section -->

    <!-- back-to-top link -->
    <a href="#0" class="cd-top"> Top </a>

    <a class="ctaWhatsapp" href="https://wa.me/916238904538" style="position: fixed;bottom: 100px;right: 25px;z-index: 1000;">
        <img src="assets/whatsapp.svg" style="width: 5rem;" alt="">
    </a>

    </div>

    <!-- Page Wrapper
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Javascripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Jquery Library -->
    <style>
        .animation-visible {
            animation: joi 1s forwards;
            animation-delay: 0.7s;
            opacity: 0;


        }

        .animation-header {
            animation: ani 1s forwards;
            animation-delay: 0.3s;
            transform: translateX(-200px);
            opacity: 0;

        }


        @keyframes ani {
            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }

        @keyframes joi {
            100% {

                opacity: 1;
            }
        }

        .servicdhoverlay {
            padding: 2rem;

            margin-bottom: 20px;

        }

        .contentmore {

            color: #FFE577;
            text-decoration: none;
            font-weight: 500;
            cursor: pointer;
        }


        h1 {
            font-size: 50px;
            word-break: break-all;
        }

        .row {
            margin: 10px -16px;
        }

        /* Add padding BETWEEN each column */
        .row,
        .row>.column {
            padding: 8px;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;

            display: none;
            /* Hide all elements by default */
        }

        /* Clear floats after rows */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .content {
            background-color: white;
            padding: 10px;
        }

        /* The "show" class is added to the filtered elements */
        .show {
            display: block;
        }

        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 0px 16px;
            background-color: white;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #ddd;
        }

        .btn.active {
            background-color: #666;
            color: white;
        }
    </style>
    <script src="js/jquery.min.js"></script>
    <script src="js/gallerImage.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- jQuery Flex Slider -->
    <script src="js/jquery.flexslider-min.js"></script>

    <!-- Owl Carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- Counter JS -->
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>

    <!-- Back to top -->
    <script src="js/back-to-top.js"></script>

    <!-- Form Validation -->
    <script src="js/validate.js"></script>

    <!-- Subscribe Form JS -->
    <script src="js/subscribe.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>
    <script>
        filterSelection("all")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("column");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
            }
        }

        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }


        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }



    </script>
    <script src="https://kit.fontawesome.com/ab0edea2e8.js" crossorigin="anonymous"></script>

</body>

</html>