<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive Gas &amp; Oil Industry HTML Template">
    <meta name="author" content="Surjith S.M">

    <!-- Page Title -->
    <title> SreeLakshmi Energy Systems</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/sreeLakshmi logo.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">

    <!-- Flex Slider -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;700;900&family=Poppins:wght@100;300;400;600;700&family=Rubik:wght@300;500;700;900&display=swap"
        rel="stylesheet">

</head>

<body class="services">

    <!-- Preloader 
    <div class="loader-wrapper">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div> -->

    <!-- Page Wrapper
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="wrapper">
        <!-- Header Section -->
        <header>
            <div class="header-area">

                <!-- Top Contact Info -->
                <div class="row logo-top-info" style="padding: 0px;">
                    <div class="container">
                        <div class="col-md-3 col-sm-4  logo">
                            <!-- Main Logo -->
                            <a href="index.html"><img src="assets/Sreelakshmi Energy Systems Pvt-logo-black-croped..png"
                                    alt="Offshore Logo" /></a>
                            <!-- Responsive Toggle Menu -->
                        </div>

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only"> Main Menu </span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                        <div class="col-md-9 top-info-social">
                        <img src="assets/MSME LOGO.gif" style="width: 8rem;" alt="">
                        <img class="isologo" style="width: 6rem;border-radius:10px;" src="assets/ISO NEW.png" alt="">    
                            <div class="pull-right">
                                <div class="top-info">
                                    <div class="call">
                                        <h3> CALL US </h3>
                                        <p>0484 2989297 </p>
                                        <p>+91 9562418266</p>
                                    </div>
                                    <div class="email">
                                        <h3> EMAIL US </h3>
                                        <p> marketing@sreelakshmi.info </p>
                                    </div>
                                    <!-- <div class="market">
                                        <h3> MARKET </h3>
                                        <p> 256.78 <span class="forex"> <i class="fa fa-caret-up" aria-hidden="true"></i> + 4.26 </span> </p>
                                    </div> -->
                                </div>
                                <div class="social">
                                    <ul class="social-icons">
                                        <li><a href="https://www.facebook.com/sreelakshmienergysystems"><i
                                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/SreelakshmiLtd"><i class="fa fa-twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/sreelakshmienergysystems"><i
                                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a
                                                href=" https://www.linkedin.com/in/sreelakshmi-energy-systems-pvt-ltd-5632ba216"><i
                                                    class="fa-brands fa-linkedin"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCOn6p2pUCWgUfKnEbVG4bmQ"><i
                                                    class="fa-brands fa-youtube"></i></a></li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- Main Navigation Section -->
                <nav id="navbar" class="collapse navbar-collapse main-menu">
                    <div class="container">
                        <ul class="main-menu">
                            <li> <a href="index.html"> Home </a></li>
                            <li> <a href="about-1.html"> About</a>

                            <li class="dropdown"> <a href="#" data-toggle="dropdown"> Solutions
                                    <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                <ul>
                                    <li> <a href="services-1.html">⦁ FUEL CONVERSION </a> </li>
                                    <li> <a href="services-2.html"> ⦁ COMMERCIAL GAS PIPELINE INSTALLATION
                                        </a> </li>
                                    <li> <a href="services-3.html"> ⦁ RETICULATED GAS SYSTEM
                                        </a> </li>
                                    <li> <a href="services-4.html"> ⦁ GAS LEAKAGE DETECTING SYSTEM AND MONITORING</a>
                                    </li>
                                    <li> <a href="services-5.html"> ⦁ PIPED NATURAL GAS INSTALLATION </a> </li>
                                    <li> <a href="services-6.html">⦁ AMC AND MAINTENANCE
                                        </a> </li>
                                    <!--  <li> <a href="services-7.html">⦁ SUNTEC AND REILLO BURNERS
                                        </a> </li> 
                                    <li> <a href="services-8.html">⦁ LOT SKID SYSTEM
                                        </a> </li> -->
                                </ul>
                            </li>



                            </li>

                            
                            <li class="dropdown active"> <a href="#" data-toggle="dropdown">PRODUCTS
                                    <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                <ul>
                                    <li><a href="product-1.html">All Products </a> </li>
                                    <li> <a href="product-2.html">Commercial Burners And Fittings </a> </li>
                                    <li> <a href="product-3.html"> Copper Tube </a> </li>
                                    <li> <a href="product-4.html">Detection System</a> </li>
                                    <li> <a href="product-5.html">Flow Meters</a> </li>
                                    <li> <a href="product-6.html">Copper tube and Pigtails</a> </li>
                                    <li> <a href="#">Regulators</a> </li>
                                    <li> <a href="product-8.html">Heat Pump and Burners</a> </li>
                                    <li> <a href="product-9.html">Compact system</a> </li>
                                   <!-- <li> <a href="product-10.html">Dryers</a> </li> -->  
                                </ul>
                            </li>
                            
                            <li><a href="gallery.html"> Gallery </a> </li>
                            <li class="dropdown"> <a href="#" data-toggle="dropdown"> Clients
                                    <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                    <ul>
                                        <li> <a href="clients1.html">5 Star Hotels</a> </li>
                                        <li> <a href="clients2.html"> Industrial Customers </a> </li>
                                        <li> <a href="clients3.html"> Restaurants & Industrial Canteens </a> </li>
                                        <li> <a href="clients4.html"> Reticulated Installations</a> </li>
                                        <li> <a href="clients5.html"> Shopping Malls </a> </li>
                                        <li> <a href="clients6.html"> Other Hotels & Projects </a> </li>
    
                                    </ul>
                            </li>
                            <li> <a href="download.html"> Downloads </a>
                            <li> <a href="careers.html"> Careers </a>                                                                        
                            <li><a href="contact-1.html"> CONTACT US</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Header Section -->

        <!-- Main Content Section -->
        <main class="main">
            <!-- Page Title -->
            <div class="page-title text-center">
                <h2 class="title"></h2>

            </div>
            <!-- Page Title -->

            <!-- Breadcrumbs -->
            <div class="breadcrumbs">
                <div class="container">
                    <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
                    <i class="fa fa-chevron-right"></i>
                    <span class="child"> Products </span>
                </div>
            </div>

            <section class="portfolio-section " id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>Project Gallery</h2>
                            <p>Use all the same size pictures :)</p>
                        </div>
                    </div>
                    
                    <ul class="row portfolio-item item-center">
                        <li class="mix co col-xl-3 col-md-3 col-12 col-xs-6 col-sm-3 pd">

                            <img src="./images/gallery/Product Photos/REGULATORS/CLICK ON ADAPTOR.jpg" alt="">

                        </li>
                       
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/PRESET REGULATOR.jpg" alt="test-1">

                        </li>
                        
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/AUTO CHANGE OVER.jpg">

                        </li>
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/R2301.jpg">

                        </li>
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/R2323.jpg">

                        </li>
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/R4100.jpg">

                        </li>
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/R4109.jpg">

                        </li>
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/REG 2.jpg">

                        </li>
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/REG 4.jpg">

                        </li>
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/REG 9.jpg">

                        </li>
                        <li class="mix srb col-xl-3 col-md-3 col-12 col-xs-6 col-sm-6 pd">

                            <img src="images/gallery/Product Photos/REGULATORS/UPSO.jpg">

                        </li>


                    </ul>
                </div><br><br>
            </section>
        </main>
        <!-- Main Content Section -->

        <!-- Footer Section -->
        <footer>
            <div class="footer">
                <div class="container">
                    <!-- Prefooter Section -->
                    <div class="row pre-footer">
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">HEAD OFFICE</h4>
                                    <p>37/ 628, Ponevazhi Road,
                                        <br> Edappally P.O, Kochi - 24, Kerala, India<br>
                                        PH:0484 2989297<br>
                                        MOB:+91 9562418266<br>
                                        marketing@sreelakshmi.info
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">ZONAL OFFICE</h4>
                                    <p>14/10, Welcome Colony,
                                        <br> Anna Nagar Western Extn.Chennai - 600 101 <br>
                                        Mob:+91 7338881185, Ph: 044 43574824 <br>
                                        sleschennai@gmail.com
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">PROJECT OFFICE </h4>
                                    <p>Kerala, Tamil Nadu,
                                        Lucknow & Bangalore,
                                        <br> Mob: 9562418266, Ph: 0484 2989297
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">PIPED NATURAL GAS DIVISION</h4>
                                    <p>PH: 0484 2989297</p>
                                    <p>MB:+91 9072634770,+91 9072650010,
                                        <br>pngprojects@sreelakshmi.info
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">BURNER & HEAT PUMP SALES</h4>
    
                                    <p>+91 6238811826,9562418266
                                        <br>retailsales@sreelakshmi.info
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title"> RETAIL SALES</h4>
                                    <p> PH:0484 2989297</p>
                                    <p>MOB:+91 9072600199,
                                        +91 8943339525
                                        <br>  retailsales@sreelakshmi.info
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Prefooter Section -->
    
                    <!-- Footer widgets -->
                    <div class="row widgets">
                        <div class="col-md-4 col-sm-6">
                            <div class="about-txt widget" style="text-align: center;">
                                <a href="index.html"><img
                                        src="assets/Sreelakshmi Energy Systems Pvt. Ltd-logo-white-croped..png"
                                        alt="Offshore Logo" style="margin-bottom: -10px;" /></a> <br>
                                <img style="width: 9rem;background-color: white;border-radius: 10px;padding: 7px 10px ; margin-right: 10px;"
                                    src="assets/ISO NEW.png" alt="">
                                <img style="width: 14rem;" src="assets/MSME-Logo-PNG-Black-and-White33.png" alt="">
    
                                <div class="widgets-social">
    
    
                                    <a href="https://www.facebook.com/sreelakshmienergysystems"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/SreelakshmiLtd"><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/sreelakshmienergysystems"><i class="fa fa-instagram"
                                            aria-hidden="true"></i></a>
                                    <a href=" https://www.linkedin.com/in/sreelakshmi-energy-systems-pvt-ltd-5632ba216"><i
                                            class="fa-brands fa-linkedin"></i></a>
                                    <a href="https://www.youtube.com/channel/UCOn6p2pUCWgUfKnEbVG4bmQ"><i
                                            class="fa-brands fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="quick-links widget" style="text-align: center;">
                                <h2 class="widget-title">QUICK LINKS</h2>
                                <ul>
                                    <li> <a href="index.html">Home </a> </li>
                                    <li> <a href="about-1.html"> About Us </a> </li>
                                    <li> <a href="product-1.html">Products</a> </li>
                                    <li> <a href="gallery.html"> Gallery </a> </li>
                                    <li> <a href="clients1.html"> Clients </a> </li>
                                    <li> <a href="download.html"> Downloads </a> </li>
                                    <li> <a href="careers.html"> Careers</a> </li>
                                    <li> <a href="contact-1.html"> Contact US </a> </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="spacer-50 visible-sm"></div>
    
                        <div class="col-md-4 col-sm-6">
                            <div class="our-services widget" style="hyphens: auto;">
                                <h2 class="widget-title">OUR SERVICES</h2>
                                <ul>
                                    <li> <a href="services-1.html"> FUEL CONVERSION </a> </li>
                                    <li> <a href="services-2.html"> COMMERCIAL GAS PIPELINE INSTALLATION </a> </li>
                                    <li> <a href="services-3.html">RETICULATED GAS SYSTEM </a> </li>
                                    <li> <a href="services-4.html"> GAS LEAKAGE DETECTING SYSTEM AND MONITORING </a>
                                    </li>
                                    <li> <a href="services-5.html"> PIPED NATURAL GAS INSTALLATION (RESIDENTIAL,
                                            COMMERCIAL AND INDUSTRIAL) </a> </li>
                                    <li> <a href="services-6.html">AMC AND MAINTENANCE </a> </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="newsletter widget">
                                <h2 class="widget-title">Newsletter</h2>
                                <p>Subscribe to our newsletters to receive latest news and updates.</p>
                          
    
                                <form action="php/subscribe.php" id="subscribeform" method="post">
                                    <div class="form-group">
                                        <input type="email" id="email" name="email" placeholder="Enter your email"
                                            class="form-control" title="Please enter your email"
                                            data-msg-email="Please enter a valid email">
                                    </div>
                                    <button type="submit" class="btn btn-block" id="js-subscribe-btn"> Subscribe Now!
                                    </button>
    
                                    <div id="js-subscribe-result" data-success-msg="Done. Subscribed"
                                        data-error-msg="Oops. Error!"></div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                    <!-- Footer widgets -->
                </div>
            </div>
            <!-- Copyright -->
            <div class="copyright">
                <div class="container">
                    <div class="row copyright-bar">
                        <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;">
                            <p>Copyright © 2023 sreelakshmienergysystems . All rights reserved. | Designed By <a href="https://www.tapclone.co.in/">Tapclone</a></p>
                        </div>
                        <!-- <div class="col-md-6 text-right">
                            <p> <a href="#"> Terms of use</a> <a href="#">Privacy Policy</a> <span> | </span> Made with
                                <i class="fa fa-heart" aria-hidden="true"></i> by Surjith S M
                            </p>
    
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer Section -->

        <!-- back-to-top link -->
        <a href="#0" class="cd-top"> Top </a>

        <a class="ctaWhatsapp" href="https://wa.me/916238904538" style="position: fixed;bottom: 100px;right: 25px;z-index: 1000;">
            <img src="assets/whatsapp.svg" style="width: 5rem;" alt="">
        </a>

    </div>
    <!-- Page Wrapper
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Javascripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <style>
        p {
            color: #fff;
        }

        /* -----------------------------------
      Gallery Section
--------------------------------------*/
        .portfolio-section {
            padding: 1px 0;

        }

        .portfolio-section h2 {
            font-size: 28px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
        }

        .portfolio-menu {
            text-align: center;
        }

        .control {
            background: #000;
            color: #fff;
            padding: 5px 10px;
            border: 1px solid #343a40;
            border-radius: 3px;
            margin: 5px;
            cursor: pointer;
            -webkit-transition: all 05s ease;
            -moz-transition: all 05s ease;
            -ms-transition: all 05s ease;
            -o-transition: all 05s ease;
            transition: all 0.5s ease;
        }

        .control:hover {
            background: #343a40;
        }

        .mixitup-control-active {
            color: #fff;
            background: #343a40;
        }

        .fancybox-container button:focus {
            outline: 0;
            box-shadow: none;
        }

        .portfolio-item {
            padding-top: 30px;
        }

        .pd {
            padding: 0;
            padding: 10px;
        }

        .pd img {
            height: 180px;
            width: 80%;
            transition: all 0.5s;
        }

        .portfolio-overlay {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            text-align: center;
            visibility: hidden;
            transition: all 0.5s;
            transform: scale(0);
        }

        .portfolio-overlay p,
        .portfolio-overlay a {
            position: relative;
            z-index: 4;
        }

        .portfolio-overlay::before {
            content: "";
            width: 0;
            height: 0;
            border-width: 0;
            position: absolute;
            left: 10%;
            top: 10%;
            transition: 50ms height ease 150ms;
            z-index: 3;
        }

        .portfolio-overlay::after {
            content: "";
            width: 0;
            height: 0;
            border-width: 0;
            position: absolute;
            right: 10%;
            bottom: 10%;
            transition: 100ms width ease 200ms;
            z-index: 3;
        }

        .portfolio-item:hover .portfolio-overlay::before {
            width: 80%;
            height: 80%;
            border-top: 1px solid #50977f;
            border-right: 1px solid #50977f;
            transition: width 0.1s ease 0.3s, height 0.1s ease 0.5s;
        }

        .portfolio-item:hover .portfolio-overlay::after {
            width: 80%;
            height: 80%;
            border-bottom: 1px solid #50977f;
            border-left: 1px solid #50977f;
            transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s;
        }

        .portfolio-item li:hover .portfolio-overlay {
            visibility: visible;
            transform: scale(1);
        }

        .portfolio-overlay .category {
            margin-top: 70px;
            margin-bottom: 20px;
            font-size: 16px;
            color: rgb(227, 243, 11);
            font-weight: 500;
        }

        .portfolio-overlay .magnify-icon {
            height: 40px;
            width: 40px;
            border-radius: 20px;
            background: #ffd104;
            margin: 0 5px;
            cursor: pointer;
            display: inline-block;
            transition: all 0.25s;
        }

        .portfolio-overlay .magnify-icon:hover {
            background: #000;
        }

        .item-center li {
            text-align: center;
        }

        .portfolio-overlay .magnify-icon p span i {
            font-size: 15px;
            color: #fff;
            line-height: 40px;
            cursor: pointer;
        }
    </style>
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- jQuery Flex Slider -->
    <script src="js/jquery.flexslider-min.js"></script>

    <!-- Back to top -->
    <script src="js/back-to-top.js"></script>

    <!-- Form Validation -->
    <script src="js/validate.js"></script>

    <!-- Subscribe Form JS -->
    <script src="js/subscribe.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- Mixitup -->
    <script src="https://kit.fontawesome.com/ab0edea2e8.js" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.2.2/mixitup.min.js'></script>
    <!-- fancybox -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js'></script>
    <!-- Fancybox js -->
    <script>
        /*Downloaded from https://www.codeseek.co/ezra_siton/mixitup-fancybox3-JydYqm */
        // 1. querySelector
        var containerEl = document.querySelector(".portfolio-item");
        // 2. Passing the configuration object inline
        //https://www.kunkalabs.com/mixitup/docs/configuration-object/
        var mixer = mixitup(containerEl, {
            animation: {
                effects: "fade translateZ(-100px)",
                effectsIn: "fade translateY(-100%)",
                easing: "cubic-bezier(0.645, 0.045, 0.355, 1)"
            }
        });
        // fancybox insilaze & options //
        $("[data-fancybox]").fancybox({
            loop: true,
            hash: true,
            transitionEffect: "slide",
            /* zoom VS next////////////////////
            clickContent - i modify the deafult - now when you click on the image you go to the next image - i more like this approach than zoom on desktop (This idea was in the classic/first lightbox) */
            clickContent: function (current, event) {
                return current.type === "image" ? "next" : false;
            }
        });
    </script>

</body>

</html>