<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive Gas &amp; Oil Industry HTML Template">
    <meta name="author" content="Surjith S.M">

    <!-- Page Title -->
    <title> SreeLakshmi Energy Systems</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/sreeLakshmi logo.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">

    <!-- Flex Slider -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" >
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;700;900&family=Poppins:wght@100;300;400;600;700&family=Rubik:wght@300;500;700;900&display=swap" rel="stylesheet">

</head>
<style>
    .vision ul li{
        text-align: justify;
    }
</style>
<body class="services">

    <!-- Preloader 
    <div class="loader-wrapper">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div> -->

    <!-- Page Wrapper
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="wrapper">
        <!-- Header Section -->
        <header>
            <div class="header-area">

                <!-- Top Contact Info -->
                <div class="row logo-top-info" style="padding: 0px;">
                    <div class="container">
                        <div class="col-md-3 col-sm-4  logo">
                            <!-- Main Logo -->
                            <a href="index.html"><img src="assets/Sreelakshmi Energy Systems Pvt-logo-black-croped..png"
                                    alt="Offshore Logo" /></a>
                            <!-- Responsive Toggle Menu -->
                        </div>

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only"> Main Menu </span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                        <div class="col-md-9 top-info-social">
                        <img src="assets/MSME LOGO.gif" style="width: 8rem;" alt="">
                        <img class="isologo" style="width: 6rem;border-radius:10px;" src="assets/ISO NEW.png" alt="">    
                            <div class="pull-right">
                                <div class="top-info">
                                    <div class="call">
                                        <h3> CALL US </h3>
                                        <p>0484 2989297 </p>
                                        <p>+91 9562418266</p>
                                    </div>
                                    <div class="email">
                                        <h3> EMAIL US </h3>
                                        <p> marketing@sreelakshmi.info </p>
                                    </div>
                                    <!-- <div class="market">
                                        <h3> MARKET </h3>
                                        <p> 256.78 <span class="forex"> <i class="fa fa-caret-up" aria-hidden="true"></i> + 4.26 </span> </p>
                                    </div> -->
                                </div>
                                <div class="social">
                                    <ul class="social-icons">
                                        <li><a href="https://www.facebook.com/sreelakshmienergysystems"><i
                                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/SreelakshmiLtd"><i class="fa fa-twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/sreelakshmienergysystems"><i
                                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a
                                                href=" https://www.linkedin.com/in/sreelakshmi-energy-systems-pvt-ltd-5632ba216"><i
                                                    class="fa-brands fa-linkedin"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCOn6p2pUCWgUfKnEbVG4bmQ"><i
                                                    class="fa-brands fa-youtube"></i></a></li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <!-- Main Navigation Section -->
                <nav id="navbar" class="collapse navbar-collapse main-menu">
                    <div class="container">
                        <ul class="main-menu">
                            <li> <a href="index.html"> Home </a></li>
                            <li> <a href="about-1.html"> About</a></li>

                            <li class="dropdown active"> <a href="#" data-toggle="dropdown"> Solutions
                                    <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                <ul>
                                    <li> <a href="services-1.html">⦁ FUEL CONVERSION </a> </li>
                                    <li> <a href="services-2.html"> ⦁ COMMERCIAL GAS PIPELINE INSTALLATION
                                        </a> </li>
                                    <li> <a href="services-3.html"> ⦁ RETICULATED GAS SYSTEM
                                        </a> </li>
                                    <li> <a href="services-4.html"> ⦁ GAS LEAKAGE DETECTING SYSTEM AND MONITORING</a>
                                    </li>
                                    <li> <a href="services-5.html"> ⦁ PIPED NATURAL GAS INSTALLATION </a> </li>
                                    <li> <a href="#">⦁ AMC AND MAINTENANCE
                                        </a> </li>
                                    <!--  <li> <a href="services-7.html">⦁ SUNTEC AND REILLO BURNERS
                                        </a> </li> 
                                    <li> <a href="services-8.html">⦁ LOT SKID SYSTEM
                                        </a> </li> -->
                                </ul>
                            </li>

                            <li class="dropdown"> <a href="#" data-toggle="dropdown">PRODUCTS
                                <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                <ul>
                                    <li> <a href="product-1.html">All Products </a> </li>
                                    <li> <a href="product-2.html">Commercial Burners And Fittings </a> </li>
                                    <li> <a href="product-3.html"> Copper Tube </a> </li>
                                    <li> <a href="product-4.html">Detection System</a> </li>
                                    <li> <a href="product-5.html">Flow Meters</a> </li>
                                    <li> <a href="product-6.html">Copper tube and Pigtails</a> </li>
                                    <li> <a href="product-7.html">Regulators</a> </li>
                                    <li> <a href="product-8.html">Heat Pump and Burners</a> </li>
                                    <li> <a href="product-9.html">Compact system</a> </li>
                                   <!-- <li> <a href="product-10.html">Dryers</a> </li> -->
                                </ul>
                            </li>

                            <li><a href="gallery.html"> Gallery </a> </li>
                            <li class="dropdown"> <a href="#" data-toggle="dropdown"> Clients
                                    <i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
                                    <ul>
                                        <li> <a href="clients1.html">5 Star Hotels</a> </li>
                                        <li> <a href="clients2.html"> Industrial Customers </a> </li>
                                        <li> <a href="clients3.html"> Restaurants & Industrial Canteens </a> </li>
                                        <li> <a href="clients4.html"> Reticulated Installations</a> </li>
                                        <li> <a href="clients5.html"> Shopping Malls </a> </li>
                                        <li> <a href="clients6.html"> Other Hotels & Projects </a> </li>
    
                                    </ul>
                            </li>
                            <li> <a href="download.html"> Downloads </a>
                            <li> <a href="careers.html"> Careers </a>                                        
                            <li><a href="contact-1.html"> CONTACT US</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Header Section -->

        <!-- Main Content Section -->
        <main class="main">
            <!-- Page Title -->
            <div class="page-title text-center">
                <h2 class="title"> </h2>

            </div>
            <!-- Page Title -->

            <!-- Breadcrumbs -->
            <div class="breadcrumbs">
                <div class="container">
                    <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
                    <i class="fa fa-chevron-right"></i>

                    <span class="child" style="text-transform: uppercase;"> Amc and Maintenance</span>
                </div>
            </div>

            <div class="spacer-80"></div>

            <div class="container">
                <div class="services-content">

                    <section class="about-innovations">
                        <div class="section-title text-center">
                            <h2 class="title-services-other color-title" style="margin-bottom: 3rem;">We provide two types of maintenance plan to our
                                Customers </h2>

                            <div class="spacer-30"> </div>
                        </div>
                        <div class="row service-details" style="padding: 0 10px;column-gap: 1rem;">
                            <div class="col-sm-6" style="background-color: #cfe1f2;padding: 1rem;border-radius: 15px;">
                                <h2  style="text-decoration: underline;text-align: center;">Annual Maintenance Contract ( AMC) </h2>
                                <p style="text-align: justify; color: black;margin-bottom: 2rem;">
                                    This is a yearly contract plan. In this Plan we carry out periodic inspection every
                                    four month. Our Scope of work is as follows :-


                                </p>


                                <div class="vision">


                                    <ul>
                                        <li >Checking of cylinder
                                            rooms, regulating station, common area and kitchen (Reticulated
                                            Installations).
                                        </li>
                                        <li>Checking of Gas
                                            Rooms, regulating station, cleaning and servicing of LPG Pots, Filters and
                                            Vapouriers (Commercial/Industrial Installations).
                                        </li>
                                        <li> In case of any
                                            emergencies our team will attend to all breakdowns within 24 working hours
                                            during the contract period. </li>
                                        <li>General inspection
                                            and replacement of signage boards will be carried out during this contract.
                                        </li>
                                        <li>Special Discount
                                            will be provided for materials (in case of any defects) during this contract
                                            period.
                                        </li>




                                    </ul>



                                </div>

                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5" style="background-color: #cfe1f2;padding: 1rem;border-radius: 15px;">
                                <h2 style="text-decoration: underline;text-align: center;" >One Time Inspection Plan</h2>
                                <p style="text-align: justify;color: black;margin-bottom: 2rem;">
                                    In this plan, our scope of work will be limited to one time inspection of the
                                    following area
                                </p>


                                <div class="vision">


                                    <ul>
                                        <li>Checking of cylinder
                                            rooms, regulating station, common area and kitchen (Reticulated
                                            Installations).
                                        </li>
                                        <li> Checking of Gas
                                            Rooms, regulating station, cleaning and servicing of LPG Pots, Filters and
                                            Vapouriers (Commercial/Industrial Installations).</li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="spacer-50"> </div>
                        <!-- 
                        <div class="row services-other">

                            <div class="col-sm-6">

                                <div class="services-info">
                                    <h4 class="services-title-one subtitle">SHELL CHEMICALS</h4>
                                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="img-box">
                                    <img src="images/service-icon2.png" alt="COMMERCIAL FUELS" />
                                </div>
                                <div class="services-info">
                                    <h4 class="services-title-one subtitle">COMMERCIAL FUELS</h4>
                                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                                </div>
                            </div>

                            <div class="clearfix spacer-70"></div>

                            <div class="col-sm-6">
                                <div class="img-box">
                                    <img src="images/service-icon4.png" alt="LUBRICANTS" />
                                </div>
                                <div class="services-info">
                                    <h4 class="services-title-one subtitle">LUBRICANTS</h4>
                                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="img-box">
                                    <img src="images/service-icon5.png" alt="MARINE FUELS" />
                                </div>
                                <div class="services-info">
                                    <h4 class="services-title-one subtitle">MARINE FUELS</h4>
                                    <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                                </div>
                            </div>

                        </div> -->

                    </section>

                </div>
            </div>
            <!-- 
            <section class="services-highlights">
                <div class="container">
                    <div class="section-title text-center">

                        <h2 class="title-2"> APPLICATIONS </h2>

                        <div class="spacer-30"> </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-4">
                            <div class="feature-box">
                                <div class="icon-container">
                                    <img src="images/service-icon1.png" alt="SHELL CHEMICALS">
                                </div>
                                <h4 class="subtitle" style="text-transform: uppercase"> Chemical & Petrochemical (medium
                                    scale) </h4>

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="feature-box">
                                <div class="icon-container">
                                    <img src="images/service-icon2.png" alt="COMMERCIAL FUELS">
                                </div>
                                <h4 class="subtitle" style="text-transform: uppercase;"> Steel & Metal Industry </h4>

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="feature-box">
                                <div class="icon-container">
                                    <img src="images/service-icon5.png" alt="MARINE FUELS">
                                </div>
                                <h4 class="subtitle"> MARINE FUELS </h4>
                                <p>Energistically scale multimedia based services whereas flexible content. </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section> -->

            <!-- <section class="services-hood">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 hood">
                            <div class="service-slider">
                                <ul class="slides">
                                    <li>
                                        <img src="images/hood.jpg" alt="">
                                        <div class="slider-caption">
                                            <p> Processing of Petrolium, A View from the Refinery </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="images/hood_2.jpg" alt="">
                                        <div class="slider-caption">
                                            <p> Processing of Petrolium, A View from the Refinery </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="hood-title color-title"> UNDER THE HOOD</h2>
                            <h4 class="hood-subtitle subtitle"> Uniquely transform premier infrastructures before
                                functional metrics. Completely mesh sustainable leadership for economically sound
                                sources. </h4>
                            <p>Distinctively fashion standardized communities vis-a-vis seamless applications.
                                Authoritatively recaptiualize efficient supply chains without vertical initiatives.
                                Progressively visualize strategic relationships with error-free processes. Credibly
                                strategize fully tested outsourcing with functional e-markets. Dynamically evisculate
                                user friendly architectures before cross-media experiences.</p>
                            <p> Interactively disintermediate empowered data whereas distinctive human capital.
                                Compellingly utilize. visualize strategic relationships with error-free processes as a
                                common pattern.</p>
                        </div>
                    </div>
                </div>
            </section> -->

            <section class="home-news">
                <div class="container">



                    <h2 style="display: flex;align-items: center;justify-content: center;"></h2>
                    <hr>

                    <div class="row">
                        <div class="column col-md-4 col-xs-6 nature">
                            <div class="content">

                                <a style="padding: 10px;width:100%" class="project-expand prettyPhoto"
                                    data-rel="prettyPhoto" href="images/Solutions/AMC AND MAINTENANCE/webp/1.7.jpg"> <img
                                        style="padding: 10px;width:100%"
                                        src="images/Solutions/AMC AND MAINTENANCE/webp/1.7.jpg" alt="Car"></a>

                            </div>
                        </div>
                        
                        

                        <div class="column col-md-4 col-xs-6 cars">
                            <div class="content">
                                <a style="padding: 10px;width:100%" class="project-expand prettyPhoto"
                                    data-rel="prettyPhoto" href="images/Solutions/AMC AND MAINTENANCE/webp/1.9.jpg"> <img
                                        src="images/Solutions/AMC AND MAINTENANCE/webp/1.9.jpg"
                                        style="padding: 10px;width:100%" alt="Car"></a>



                            </div>
                        </div>
                        
                        <div class="column col-md-4 col-xs-6 cars">
                            <div class="content">
                                <a style="padding: 10px;width:100%" class="project-expand prettyPhoto"
                                    data-rel="prettyPhoto" href="images/Solutions/AMC AND MAINTENANCE/webp/1.8.jpg"> <img
                                        src="images/Solutions/AMC AND MAINTENANCE/webp/1.8.jpg"
                                        style="padding: 10px;width:100%" alt="Car"></a>


                            </div>
                        </div>
                        

                        <!-- 
                        <div class=" column col-md-4 people">
                            <div class="content">
                                <img src="/images/gallery/1ce5bb8230cb0468a5a4f807b0ec2d7c.jpg" alt="Car" style="width:100%">

                            </div>
                        </div>
                        <div class="column col-md-4 people">
                            <div class="content">
                                <img src="/images/gallery/8a0e8c7e5894760ae1e96dddae58a1ac.jpg" alt="Car" style="width:100%">

                            </div>
                        </div>
                        <div class=" column col-md-4 people">
                            <div class="content">
                                <img src="/images/gallery/5fc9508b86395363af8055ea88d3cdb0.jpg" alt="Car" style="width:100%">

                            </div>
                        </div> -->
                        <!-- END GRID -->
                    </div>

                    <!-- END MAIN -->
                </div>


                <div style="text-align: center;margin-top: 4rem;">
                    <a href="gallery.html"  class="viewGallery" >VIEW GALLERY</a>
                </div>


            </section>
        </main>
        <!-- Main Content Section -->

        <!-- Footer Section -->
        <footer>
            <div class="footer">
                <div class="container">
                    <!-- Prefooter Section -->
                    <div class="row pre-footer">
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">HEAD OFFICE</h4>
                                    <p>37/ 628, Ponevazhi Road,
                                        <br> Edappally P.O, Kochi - 24, Kerala, India<br>
                                        PH:0484 2989297<br>
                                        MOB:+91 9562418266<br>
                                        marketing@sreelakshmi.info
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">ZONAL OFFICE</h4>
                                    <p>14/10, Welcome Colony,
                                        <br> Anna Nagar Western Extn.Chennai - 600 101 <br>
                                        Mob:+91 7338881185, Ph: 044 43574824 <br>
                                        sleschennai@gmail.com
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">PROJECT OFFICE </h4>
                                    <p>Kerala, Tamil Nadu,
                                        Lucknow & Bangalore,
                                        <br> Mob: 9562418266, Ph: 0484 2989297
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">PIPED NATURAL GAS DIVISION</h4>
                                    <p>PH: 0484 2989297</p>
                                    <p>MB:+91 9072634770,+91 9072650010,
                                        <br>pngprojects@sreelakshmi.info
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title">BURNER & HEAT PUMP SALES</h4>
    
                                    <p>+91 6238811826,9562418266
                                        <br>suntecsales@sreelakshmi.info
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-details">
                                    <h4 class="pre-footer-title"> RETAIL SALES</h4>
                                    <p> PH:0484 2989297</p>
                                    <p>MOB:+91 9072600199,
                                        +91 8943339525
                                        <br>  retailsales@sreelakshmi.info
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Prefooter Section -->
    
                    <!-- Footer widgets -->
                    <div class="row widgets">
                        <div class="col-md-4 col-sm-6">
                            <div class="about-txt widget" style="text-align: center;">
                                <a href="index.html"><img
                                        src="assets/Sreelakshmi Energy Systems Pvt. Ltd-logo-white-croped..png"
                                        alt="Offshore Logo" style="margin-bottom: -10px;" /></a> <br>
                                <img style="width: 9rem;background-color: white;border-radius: 10px;padding: 7px 10px ; margin-right: 10px;"
                                    src="assets/ISO NEW.png" alt="">
                                <img style="width: 14rem;" src="assets/MSME-Logo-PNG-Black-and-White33.png" alt="">
    
                                <div class="widgets-social">
    
    
                                    <a href="https://www.facebook.com/sreelakshmienergysystems"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/SreelakshmiLtd"><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/sreelakshmienergysystems"><i class="fa fa-instagram"
                                            aria-hidden="true"></i></a>
                                    <a href=" https://www.linkedin.com/in/sreelakshmi-energy-systems-pvt-ltd-5632ba216"><i
                                            class="fa-brands fa-linkedin"></i></a>
                                    <a href="https://www.youtube.com/channel/UCOn6p2pUCWgUfKnEbVG4bmQ"><i
                                            class="fa-brands fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="quick-links widget" style="text-align: center;">
                                <h2 class="widget-title">QUICK LINKS</h2>
                                <ul>
                                    <li> <a href="index.html">Home </a> </li>
                                    <li> <a href="about-1.html"> About Us </a> </li>
                                    <li> <a href="product-1.html">Products</a> </li>
                                    <li> <a href="gallery.html"> Gallery </a> </li>
                                    <li> <a href="clients1.html"> Clients </a> </li>
                                    <li> <a href="download.html"> Downloads </a> </li>
                                    <li> <a href="careers.html"> Careers</a> </li>
                                    <li> <a href="contact-1.html"> Contact US </a> </li>
    
                                </ul>
                            </div>
                        </div>
    
                        <div class="spacer-50 visible-sm"></div>
    
                        <div class="col-md-4 col-sm-6">
                            <div class="our-services widget" style="hyphens: auto;">
                                <h2 class="widget-title">OUR SERVICES</h2>
                                <ul>
                                    <li> <a href="services-1.html"> FUEL CONVERSION </a> </li>
                                    <li> <a href="services-2.html"> COMMERCIAL GAS PIPELINE INSTALLATION </a> </li>
                                    <li> <a href="services-3.html">RETICULATED GAS SYSTEM </a> </li>
                                    <li> <a href="services-4.html"> GAS LEAKAGE DETECTING SYSTEM AND MONITORING </a>
                                    </li>
                                    <li> <a href="services-5.html"> PIPED NATURAL GAS INSTALLATION (RESIDENTIAL,
                                            COMMERCIAL AND INDUSTRIAL) </a> </li>
                                    <li> <a href="services-6.html">AMC AND MAINTENANCE </a> </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="newsletter widget">
                                <h2 class="widget-title">Newsletter</h2>
                                <p>Subscribe to our newsletters to receive latest news and updates.</p>
                          
    
                                <form action="php/subscribe.php" id="subscribeform" method="post">
                                    <div class="form-group">
                                        <input type="email" id="email" name="email" placeholder="Enter your email"
                                            class="form-control" title="Please enter your email"
                                            data-msg-email="Please enter a valid email">
                                    </div>
                                    <button type="submit" class="btn btn-block" id="js-subscribe-btn"> Subscribe Now!
                                    </button>
    
                                    <div id="js-subscribe-result" data-success-msg="Done. Subscribed"
                                        data-error-msg="Oops. Error!"></div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                    <!-- Footer widgets -->
                </div>
            </div>
            <!-- Copyright -->
            <div class="copyright">
                <div class="container">
                    <div class="row copyright-bar">
                        <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;">
                            <p>Copyright © 2023 sreelakshmienergysystems . All rights reserved. | Designed By <a href="https://www.tapclone.co.in/">Tapclone</a></p>
                        </div>
                        <!-- <div class="col-md-6 text-right">
                            <p> <a href="#"> Terms of use</a> <a href="#">Privacy Policy</a> <span> | </span> Made with
                                <i class="fa fa-heart" aria-hidden="true"></i> by Surjith S M
                            </p>
    
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer Section -->

        <!-- back-to-top link -->
        <a href="#0" class="cd-top"> Top </a>

    <a class="ctaWhatsapp" href="https://wa.me/916238904538" style="position: fixed;bottom: 100px;right: 25px;z-index: 1000;">
        <img src="assets/whatsapp.svg" style="width: 5rem;" alt="">
    </a>

    </div>
    <!-- Page Wrapper
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Javascripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Jquery Library -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- jQuery Flex Slider -->
    <script src="js/jquery.flexslider-min.js"></script>

    <!-- Back to top -->
    <script src="js/back-to-top.js"></script>

    <!-- Form Validation -->
    <script src="js/validate.js"></script>

    <!-- Subscribe Form JS -->
    <script src="js/subscribe.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/ab0edea2e8.js" crossorigin="anonymous"></script>

</body>

</html>